graphrag==2.7.0
langgraph-cli[inmem]
pydantic
python-dotenv
langgraph
langchain-core
langchain-deepseek
langsmith
langchain
langchain-openai
langchain-text-splitters
langchain-community
faiss-cpu
olmocr[gpu]
unstructured==0.18.24
pymupdf
unstructured_inference==1.1.2
html2text
frontend
pi_heif
pdf2image
python-dotenv
pytesseract
langchain_unstructured
numpy==1.26.4
dashscope
matplotlib==3.7.1