graphrag==2.7.0
langgraph-cli[inmem]
pydantic
python-dotenv
langgraph
langchain-core
langchain-deepseek
langsmith
langchain
langchain-openai
langchain-text-splitters
langchain-community
faiss-cpu
pymupdf
html2text
pdf2image
pytesseract
langchain-unstructured
numpy==1.26.4
dashscope
matplotlib>=3.8,<3.10
pandas
pyarrow

